<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>silverbat01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{58, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{61, 42}</string>
			<key>spriteSourceSize</key>
			<string>{61, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 0}, {61, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {53, 50}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{53, 50}</string>
			<key>spriteSourceSize</key>
			<string>{55, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 0}, {53, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {62, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{62, 43}</string>
			<key>spriteSourceSize</key>
			<string>{62, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 0}, {62, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {53, 49}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{53, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 53}, {53, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {59, 42}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{59, 42}</string>
			<key>spriteSourceSize</key>
			<string>{61, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55, 53}, {59, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {39, 58}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{39, 58}</string>
			<key>spriteSourceSize</key>
			<string>{47, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 53}, {39, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {54, 42}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{54, 42}</string>
			<key>spriteSourceSize</key>
			<string>{64, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157, 53}, {54, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {58, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{58, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 113}, {58, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 50}</string>
			<key>spriteSourceSize</key>
			<string>{61, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 113}, {61, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 54}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{54, 54}</string>
			<key>spriteSourceSize</key>
			<string>{58, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 113}, {54, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>silverbat12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {62, 44}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{62, 44}</string>
			<key>spriteSourceSize</key>
			<string>{66, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 113}, {62, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>silverbat.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>