<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>demon01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{66, 76}</string>
			<key>spriteSourceSize</key>
			<string>{68, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 156}, {66, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {62, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{62, 74}</string>
			<key>spriteSourceSize</key>
			<string>{70, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 0}, {62, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{65, 75}</string>
			<key>spriteSourceSize</key>
			<string>{65, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{69, 78}, {65, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {63, 75}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{63, 75}</string>
			<key>spriteSourceSize</key>
			<string>{71, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 155}, {63, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 4}, {43, 71}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{43, 71}</string>
			<key>spriteSourceSize</key>
			<string>{69, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 76}, {43, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {44, 69}}</string>
			<key>spriteOffset</key>
			<string>{-5, -2}</string>
			<key>spriteSize</key>
			<string>{44, 69}</string>
			<key>spriteSourceSize</key>
			<string>{64, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 148}, {44, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {43, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 70}</string>
			<key>spriteSourceSize</key>
			<string>{59, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{181, 76}, {43, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {47, 69}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{47, 69}</string>
			<key>spriteSourceSize</key>
			<string>{59, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 0}, {47, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {67, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 76}</string>
			<key>spriteSourceSize</key>
			<string>{69, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 78}, {67, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {64, 75}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{64, 75}</string>
			<key>spriteSourceSize</key>
			<string>{68, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 0}, {64, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {68, 76}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{68, 76}</string>
			<key>spriteSourceSize</key>
			<string>{78, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {68, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>demon12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {64, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{64, 76}</string>
			<key>spriteSourceSize</key>
			<string>{72, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 156}, {64, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>demon.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>