<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ninja01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{49, 86}</string>
			<key>spriteSourceSize</key>
			<string>{49, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {49, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {52, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{52, 88}</string>
			<key>spriteSourceSize</key>
			<string>{52, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{51, 0}, {52, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {50, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{50, 88}</string>
			<key>spriteSourceSize</key>
			<string>{52, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 0}, {50, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {50, 85}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{50, 85}</string>
			<key>spriteSourceSize</key>
			<string>{52, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{159, 0}, {50, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {44, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{44, 88}</string>
			<key>spriteSourceSize</key>
			<string>{52, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 100}, {44, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 90}</string>
			<key>spriteSourceSize</key>
			<string>{47, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 100}, {47, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {46, 94}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{46, 94}</string>
			<key>spriteSourceSize</key>
			<string>{52, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{103, 100}, {46, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {48, 92}}</string>
			<key>spriteOffset</key>
			<string>{2, 5}</string>
			<key>spriteSize</key>
			<string>{48, 92}</string>
			<key>spriteSourceSize</key>
			<string>{52, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157, 100}, {48, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {50, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{50, 82}</string>
			<key>spriteSourceSize</key>
			<string>{52, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 204}, {50, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {50, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{50, 86}</string>
			<key>spriteSourceSize</key>
			<string>{52, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 204}, {50, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 88}</string>
			<key>spriteSourceSize</key>
			<string>{49, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 204}, {49, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ninja12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {50, 83}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{50, 83}</string>
			<key>spriteSourceSize</key>
			<string>{52, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{159, 204}, {50, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>ninja.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>